@import "../../styles/base.scss";

.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $code;
}
.header-logo {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid $primaryBlue;
  height: 8vh;                                  ////////
  margin: 0 8em;
}
.header-logo img {
  width: 243px;
  height: 35px;
  padding: 18px 0;
  background: url(../../img/carddex_logo.png) no-repeat;
}
.base-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 81vh;                              //////////
  width: 100%;
  min-height: 100%;
  background: $white;
}
.main-paragraph {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 40em;
  align-self: flex-start;
  margin-top: 2vh;
  margin-left: 2em;
  font-family: $code;
}
.main-paragraph > * {
  margin: 0.5em 0 0 3.5em;
  font-weight: 300;
}
.main-paragraph h1 {
  font-size: 2em;
}
.main-paragraph h3 {
  font-size: 1.2em;
  margin-left: 5.8em;
}
.main-paragraph p {
  margin-left: 7em;
  width: 30em;
}
.code-mail {
  font-family: $code;
  &:hover {
    cursor: pointer;
    color: $primaryBlue;
  }
}
.wrapper-separator {
  display: block;
  position: absolute;
  top: 460px;
  width: 700px;
  height: 1px;
  background-color: #828282;
  transform: rotate(90deg);
}
.wrapper-auth {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin: -35px;
}
.wrapper-auth__header {
  height: 3vh;
  margin: 5.2em 25em 0 0;
}
.auth-form {
  width: 65em;
  background-color: $white;
  font-size: 5px;
}
.auth-label {
  padding-right: 1em;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-size: 11px;
  color: $darkGray;
  font-family: $code;
}
.auth-input {
  background-color: $lighterGray;
  border: 1px solid lightgrey;
  border-radius: 10px;
  height: 2em;
  width: 100%;
  outline: 0;
  transition: all 0.25s ease 0s;
  padding: 0 0.5rem;
  &:hover {
    border-color: $gray;
    transition: all 0.25s ease 0s;
  }
  &:focus {
    border-color: $primaryBlue;
    transition: all 0.25s ease 0s;
  }
}
.auth-error {
  margin-top: 0.2rem;
  color: $red;
  font-family: $code;
  font-size: 10px;
}
.auth-password__ask {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
}
.auth-password__ask label {
  padding: 5px 0;
  font-weight: 100;
  font-size: 12px;
}
.auth-group__ask-password {
  font-size: 13px;
  font-weight: 300;
  padding: 5px 0;
}
.auth-condition {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 100;
}
.auth-conditon__confidiency {
  display: block;
  font-size: 11px;
  font-weight: normal;
}
.auth-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $primaryBlue;
  border-radius: 10px;
  border-color: transparent;
  width: 100%;
  font-size: 16px;
  font-family: $code;
  outline: transparent;
  &:hover {
    cursor: pointer;
  }
}
.footer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  font-family: $code;
  padding-left: 20em;
  padding-right: 25em;
  background-color: #28343F;;
  height: 11vh;                               /////////////////
}
.footer-copy {
  display: flex;
  flex-direction: column;
}
.footer-copy h1 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 100;
}
.footer-copy p {
  font-size: 12px;
  color: #8B9298;
  margin: 0;
  width: 20em;
}
.footer-phone {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 11em;
}
.footer-phone h1 {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
  padding: 3px 0;
}
.footer-phone img {
  background: url(../../img/call.png) no-repeat;
  width: 29.97px;
  height: 31px;
}
.footer-phone__number {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}
.footer-email {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180px;
  background: url(../../img/email.png) no-repeat;
}
.footer-email img {
  display: block;
  width: 30.94px;
  height: 32px;
}
.footer-email h1 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 100;
}
.link-login {
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  margin-right: 1em;
  font-size: 15px;
  padding: 3px;
  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}
.link-register {
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  margin-right: 1em;
  font-size: 15px;
  padding: 3px;
  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}
.active {
  border-bottom: 2px solid $primaryBlue;
}

@media (max-width: 800px) {
  .bottom-group {
    flex-direction: column;
    padding-left: 0px;
  }
  .link {
    margin: 0.25rem 0;
  }
  .auth-form {
    width: 80%;
  }
  .bottom-group {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .base-wrapper {
    background-size: cover;
  }
}
@media (max-width: 1368px) and (max-height: 768px) {
  .base-wrapper {
    height: 81vh;
  }
  .main-paragraph {
    width: 45em;
    margin-top: 1vh;
    margin-left: 1em;
  }
  .main-paragraph h1 {
    font-size: 1.5em;
    margin-left: 6em;
  }
  .main-paragraph h3 {
    font-size: 1em;
    margin-left: 9em;
  }
  .main-paragraph p {
    width: 25em;
    margin-left: 9em;
  }
  .wrapper-separator {
    top: 22em;
    width: 33em;
  }
  .wrapper-auth {
    margin: -3.5em;
  }
  .wrapper-auth__header {
    height: 3vh;
  }
  .auth-form {
    width: 55em;
    margin-top: 0.2rem;
  }
  .auth-input {
    height: 1.7em;
    padding: 0;
  }
  .footer {
    padding: 0 16em 0 10em;
  }
  .auth-error {
    margin-top: 0;
    font-size: 9px;
  }
  .auth-password__ask label {
    padding: 2px 0;
    font-size: 12px;
  }
  .auth-group__ask-password {
    font-size: 12px;
    padding: 2px 0;
  }
  .auth-condition {
    padding: 7px 0;
  }
  .auth-button {
    height: 30px;
    margin-top: 0.5rem;
    font-size: 13px;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) {
  .footer {
    padding: 0 14em 0 10em;
  }
  .auth-password__ask label {
    padding: 4px 0;
    font-size: 15px;
  }
  .wrapper-separator {
    top: 530px;
    width: 780px;
  }
}